.img_list {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    list-style-type: none;
    padding-top: 5%;
    max-width: 70%;

    li {
        margin: 25px;
        flex: 1 20%;

        
        a {
            img {
                height: auto;
            }
        }
    }
}